.userList {
  flex: 4;
  height: 480px;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListimg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.userAddContainer {
  display: flex;
  justify-content: flex-end;
}

.userAdd {
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: rgb(55, 0, 255);
  color: white;
  cursor: pointer;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.userListDelete {
  color: rgb(243, 59, 59);
  cursor: pointer;
}
