.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgba(250, 255, 255, 0.973);
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sideBarTitle {
  font-size: 13px;
  color: rgb(139, 163, 155);
}

.sidebarList {
  list-style: none;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem :hover {
  background-color: rgb(201, 250, 234);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
